body{
 background-color: hsl(0deg 65.36% 64.9%); 
 overflow: hidden;
 z-index: 10;
  
}
.heading{
    position: absolute;
    top: 00px;
    right: 66%;
    font-size: xx-large;
    font-family: "Times New Roman", Times, serif;
}



.main{
    width: 500px;
    height: 95%;
    border: 1.8px solid rgb(0, 0, 0);
    position: absolute;
    top: 15px;
    left: 30%;
    border-radius: 15px;
    background-color: hsl(179.38deg 43.24% 56.47%);
    
}



.text li{
    position: relative;
    background-color:  hsl(274deg 54.88% 67.84%);
    width: 430px;
    height: 27px;
    border: 1.5px solid black;
    border-radius: 6px;
    text-decoration: none;
    list-style: none;
    padding-top: 9px;
    padding-left: 9px;
    margin: 9px;
    top: 140px;
    left: 4%;
    font-weight: bolder;
    z-index: 10;
}


.input-task{
    position: absolute;
    top: 29.8%;
    left: 5.5%;
    }

.enter-task{
    width: 330px;
    height: 25px;
    position: absolute;
    border-radius:6px ;
    bottom:350%;
    background-color: hsl(41.79deg 90.06% 68.43%);
    border: 2px solid black;
    z-index: 10;
}

.btn{
    width: 85px;
    height: 31px; 
    position: absolute;
    top: 15.9%;
    border-radius: 6px;
    left: 77%;
    background-color: hsl(141.64deg 31.28% 61.76%);
    border: 2px solid black;
    z-index: 10;
}

.line{
    position: relative;
    top: 130px;
    color: rgb(84, 79, 79);
    height: 2px;
    border-radius: 2px;
    z-index: 10;
}

.cri{
    position: absolute;
    color: black;
    border: 2px solid black;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    top: 425px;
    right: 150%;
   background-color: #f7cb66; 

}

.cri1,.cri2,.cri3,.cri4,.cri5,.cri6,.cri7{
    position: absolute;
    color: black;
    border: 2px solid black;
    border-radius: 100px;
    width: 150px;
    height: 150px;
}

.cri1{
    top: -50px;
    right: 90%;
    background-color: #ed7461; 
    z-index: -50;
}

.cri2{
    top: 20px;
    right: -15%;
    background-color: #517eed;
    z-index: -10;
}
.cri3{
    top: 430px;
    right: -85%;
    background-color: #f7cb66 ;
}
.cri4{
    top: 450px;
    right: 2%;
    background-color:  #7fbc95;
    z-index: -50;
}
.cri5{
    top: 100px;
    right: 160%;
    background-color: #f7cb66; 
}
.cri6{
    background-color: #7fbc95
    ;
    top: 180px;
    right: -60%;
}

.cri7{
    background-color:#5d81dc
    ;
    top: 250px;
    right: 85%;
    z-index: -10;
}

